<header>
  <div class="left-header">
    <div class="logo"></div>
    <div class="title">Angular-client</div>
  </div>
  <div class="right-header">
    <div class="header-nav-list">
      <ul>
        <li>
          <a routerLink="">
            <i class="material-icons">accessibility</i>
            <span>Users</span>
          </a>
        </li>
        <li>
          <a routerLink="posts">
            <i class="material-icons">message</i>
            <span>Posts</span>
          </a>
        </li>
        <li>
          <a routerLink="address">
            <i class="material-icons">
              chrome_reader_mode
            </i>
            <span>Address list</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
